# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv
*.egg-info/
dist/
build/

# Training artifacts
models/
runs/

# VS Code / Codespaces
.vscode/
.devcontainer/.cache/
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db
